.sidebar{
    position: fixed;
    height: 100%;
    width: 4em;
    background: #181818;
}
.sidebar-logo{
    height: 4.5em;
}
.sidebar-logo a{
    text-decoration: none;
    color: #7ad71f;
    font-family: sans-serif;
    font-size: 2em;
}
.navigation{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.social-links{
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0.5em;
}