.sidebar{
    position: fixed;
    height: 100%;
    width: 4em;
    background: #181818;
}
.sidebar-logo{
    height: 4.5em;
}
.sidebar-logo a{
    text-decoration: none;
    color: #7ad71f;
    font-family: "San Francisco";
    font-size: 2em;
}
.navigation{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.social-links{
    display: flex;
    flex-direction: row !important;
    bottom: 0.5em;
}